@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: 'MATA';
	src: url('../font/MATA.TTF');
}

@font-face {
	font-family: 'ICONS';
	src: url('../font/font social media.ttf');
}

@keyframes bounce {
	to {
		transform: translateZ(-2mm);
	}
}

:root {
	--cardWidth: 89mm;
	--cardHeight: 51mm;
	--cardFrontColor: #223;
	--cardBackColor: #eee;
	--cardFrontImg: url('../img/cardboard-flat.png');
	--cardBackImg: url('../img/cardboard-flat.png');
	
	--flipTime: 1s;
	
	--tableImg: url('../img/Oak-Herringbone-Architextures.jpg');
	
	--lightWidth: 50em;
	--lightHeight: 60em;
	--lightColor: rgba(247, 243, 232,0.2);
	--lightBlur: 5em;
	
	--triangleSize1: 3mm;
	--triangleSize2: calc(var(--triangleSize1) * 2 * 0.866);
	--triangleColor: rgba(250,250,250,0.5);
	
	--stripeColor: #ddd;
	--hueRotate: 0deg;
}

body {
	text-align: center;
	background: var(--tableImg) center/150% fixed #222;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	perspective: 1700px;
}

/* ---- */
/* CARD */
/* ---- */

#card {
	width: var(--cardWidth);
	height: var(--cardHeight);
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) rotateZ(-5deg);
	transform-style: preserve-3d;
	perspective: 1500px;
	transform-origin: 0 50%;
}

#cardBody {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform var(--flipTime);
	transform-style: preserve-3d;
	box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.9), 0 -0.5px 0.1px rgba(0,0,0,0.2), 0 1mm 1mm rgba(100,100,100,0.5);
}

.flipped {
	transform: rotateY(180deg) rotateZ(-8deg) scale(2);
	box-shadow: 0 0 5mm rgba(0,0,0,0.25);
}

#cardBody:before {
	content: '';
	position: absolute;
	background-color: var(--cardBackColor);
	height: var(--cardHeight);
	width: 2px;
	left: -1px;
	top: 0;
	transform: translateZ(-1px) rotateY(90deg);
	border-radius: 1mm;
}

#cardFront, #cardBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	padding: 0;
}

#cardFront {
	background: var(--cardFrontImg) center/50% var(--cardFrontColor);
	cursor: grab;
}

#cardBack {
	transform: rotateY(180deg);
	background: var(--cardBackImg) center/50% var(--cardBackColor);
}

.icon {
	font-family: 'ICONS', monospace;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
}

nav a {
	width: 45%;
	padding: 2mm;
	color: rgba(0,0,0,0.1);
	font-size: 10mm;
}

nav a:hover {
	color: #222;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(256,256,256,0.1);
}

nav a#projectsLink {
	flex-grow: 2;
	font-family: 'Bebas Neue', Impact, sans-serif;
}

#stripe {
	position: absolute;
	right: 0;
	bottom: 5mm;
	text-align: right;
	padding: 2mm 3mm 1mm 10mm;
	background-color: var(--stripeColor);
	clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0% 100%);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	border-top: 1px solid rgba(256,256,256,1);
	line-height: 3mm;
}

#name, #tagline {
	font-family: 'Bebas Neue', Impact, sans-serif;
	color: #222;
	display: block;
}

#firstname, #lastname {
	font-size: 5mm;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(256,256,256,0.1);
}

#tagline {
	font-size: 3mm;
}

#glyph {
	font-family: 'MATA', wingdings;
	font-size: 200mm;
	line-height: 200mm;
	position: absolute;
	top: -16%;
	left: -6%;
	color: rgba(0,0,0,0.1);
	text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(256,256,256,0.2);
}

#fingerprint {
	width: 20mm;
	height: 28mm;
	position: absolute;
	right: 0;
	bottom: 0;
}

#fingerprint img {
	width: 100%;
	height: 100%;
	filter: contrast(1%);
}

/* ------------- */
/* ENVIRONMENTAL */
/* ------------- */

#vignette {
	width: 100vw;
	height: 100vh;
	background: transparent;
	background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.4) 100%); 
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.4) 100%); 
	background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%);
}

#spotlight {
	width: var(--lightWidth);
	height: var(--lightHeight);
	background: var(--lightColor);
	border-radius: 50%;
	top: 25%;
	left: 25%;
	transform: translateY(-25%) translateX(-25%) rotateZ(-20deg);
	position: absolute;
	filter: blur(var(--lightBlur)) contrast(80%);
	perspective: 750px;
	transform-origin: 0 50%;
	transform-style: preserve-3d;
}

/* -------- */
/* SUBTITLE */
/* -------- */

#subtitle {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 2vw;
	text-align: center;
	padding: 1em 0;
	background-color: rgba(0,0,0,0.2);
	height: 1em;
	backdrop-filter: blur(1mm);
	color: rgba(256,256,256,0.75);
	cursor: pointer;
}

#message {
	font-family: 'Xanh Mono', monospace;
}

#triangle {
	width: 0;
	height: 0;
	border-left: var(--triangleSize1) solid transparent;
	border-right: var(--triangleSize1) solid transparent;
	border-top: var(--triangleSize2) solid var(--triangleColor);
	position: absolute;
	top: 50%;
	transform: translateY(calc(var(--triangleSize1) / -1));
	display: inline-block;
	margin-left: 3mm;
	animation: bounce 0.5s alternate infinite ease-in;
}

/* ------- */
/* GENERAL */
/* ------- */

a {
	text-decoration: none;
}

#card, #subtitle {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#vignette, #spotlight, #fingerprint, #glyph, #stripe, #cardBody:before {
	pointer-events: none;
}
