body {
	margin: 0;
	padding: 0;
	background-color: #bbb;
	background-image: url(./img/background.jpg);
	background-attachment: fixed;
	overflow-x: hidden;
}

#main {
	width: 50em;
	margin: 0 auto;
	padding: 2vh 0;
	color: #222;
	text-align: justify;
	font-size: 1.3em;
}

.columns {
	column-count: 2;
	column-gap: 5em;
}

.header {
	display: flex;
	justify-content: space-between;
	
}

.item span {
	display: block;
}

.skillTitle, .header {
	font-weight: bold;
	font-style: oblique;
}

.skillDefault {
	text-align: left;
}

.item p, .skillDefault, .skillSubtitle, .skillPrereq {
	font-size: smaller;
}

#warning {
	color: red;
	font-size: larger;
}

img {
	width: 50vw;
	height: 50%;
}

section {
	margin-bottom: 3em;
	padding: 0 2em 3em 2em;
	background-color: rgba(250, 250, 250, 0.75);
	border-radius: 5px;
	border: 1px solid #666;
	border-top: 1em solid #000;
}

#banner {
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 0.5em;
	font-size: larger;
}

#banner a {
	text-decoration: none;
	-webkit-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
	transition: color 0.5s linear;
	color: #bbb;
}

#banner a:hover {
	color: #fff;
}